{{!
{
  "name" : "template1",
  "description" : "A nice template.",
  "styles" : ["assets/styles/cover"]
}
}}
<div class="welcome">
    <div class="welcome-content">
        <div class="welcome-logotype">
            <div class="welcome-logotype-logo">
                <div class="welcome-logotype-type"></div>
            </div> <!-- .welcome-logotype-logo -->
        </div> <!-- .welcome-logotype -->
        <div class="welcome-login">
	        <input type="text" placeholder="электронная почта" class="login"/>
	        <input type="password" placeholder="пароль" class="password"/>
	        <input type="submit" value="" class="submit"/>
            <div class="additional">
	            <b class="remember">
		            <label>
			            <input type="checkbox" checked="checked"/>
			            <b>&nbsp;Запомнить</b>
		            </label>
	            </b>
	            <b class="separator">&nbsp;·&nbsp;</b>
	            <a href="#" class="forgot">Забыли пароль? {{test}}</a>
            </div> <!-- .additional -->
        </div> <!-- .welcome-login -->
        <div class="register">
	        <a href="#">Have not an account yet?</a>
        </div> <!-- .register -->
    </div> <!-- .welcome-content -->
    <div class="welcome-background"></div>
</div> <!-- .welcome -->
<div class="information">
	<h1>Почему инвайты?</h1>
	<b>Всё дело в том, что нашей основной задачей является.</b>
</div> <!-- .information -->