//
   Created by inkuzmin on 8/1/14.

.invite
    h2 {{title}}
    .invite-form
        input.login(type="text",placeholder="{{email}}")
        input.submit(type="submit",value="")
        .invite-instructions {{instructions}}
    .invite-back
        a(href="../welcome/login") {{back}}
