//
   Created by inkuzmin on 8/1/14.

.welcome-logotype
    .welcome-logotype-logo
        .welcome-logotype-type
.welcome-login
    input.login(type="text",placeholder="{{email_or_login}}")
    input.password(type="password",placeholder="{{password}}")
    input.submit(type="submit",value="")
    .welcome-additional
        b.welcome-remember
            label
                input(type="checkbox",checked="checked")
                b &nbsp;{{remember}}
        b.welcome-separator &nbsp;·&nbsp;
        a(href="#").welcome-forgot.
            {{forgot}}
.welcome-register
    a(href="../welcome/register") {{register}}