doctype html
html(lang="#{lang}")
  head
    title Libreado Cloud Reader
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(data-main='/app/main', src='/libs/require/require.js')
  body
    div#content